.card-title{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.CarouselCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }

  .price{
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }

  .btn-warning{
    background-color:  rgb(222, 222, 11);
  }
  .btn-warning:hover{
    background-color: tomato;
  }

  @media (min-width:300px) and (max-width:600px){
    .card-title{
        font-size: 2vmax;
    }
    .CarouselCardSpan{
        font-size: 12px;
    }
  }
  @media (min-width:600px) and (max-width:992px){
    .card-title{
        font-size: 2vmax;
    }
    .CarouselCardSpan{
        font-size: 12px;
    }
  }